<!doctype .css>
h1 { 
font-family: times new roman;
font-size: 18px;
}
h1:hover {
	color: magenta;
}
h2 {
	font-family: times new roman;
	font-size: 15px;
	padding-top: 50px;
	font-weight: normal;
}
h3 {
	font-size: 12px;
	font-weight: normal;
}
a:hover {
	color: magenta;
	font-style: italic;
}

marquee {
	font-family: times new roman;
	font-style: italic;
	color: magenta;
	font-size: -6;
}
a {
	font-family: times new roman;
	color: black;
}
/*p {
	padding-right: 200px;
}
iframe {
	height: 400px;
	width: 100%;
	border-color: grey;
	border-style: dashed;
	border-width: thin;
}*/
.link {
	padding-left: 55px;
}
#menu {
	position: fixed;
	background-color: white;
	padding-left: 30px;
	padding-top: 10px;
	padding-right: 30px;
	border-color: magenta;
	border-style: solid;
	border-width: thin;
}
#content {
   	position: fixed;
	width: 800px;
	padding: 10px;
  	margin: 0 250px;
}
.moodboard {
    width: 80%;
    min-height: 850px;
    margin: 0 24px 27px 0;
    background: white;
}
#moodboard_container {
    float: right;
    width: 27%;
    min-height: 200px;
    margin: auto;
}
#main_column {
    float: none;
    position: center;
    text-align: left;
    padding: 5px 5px 5px 5px;
    margin: auto;
    justify-content: center;
    border-color: magenta;
    border-style: solid;
    border-width: thin;
}
#footer {
	background-color: white;
	text-align: left;
	line-height: 2px;
	padding-top: 25px;
	padding-bottom: 25px;
}
img, #footer {
	padding-left: 250px;
}
* {
	letter-spacing: -0.5px;
}
#essays, #contact, #cv-text {
	padding-top: 30px;
	padding-left: 300px;
}
#cv {
	padding-top: 30px;
	padding-left: 300px;
	width: 550px;
	height: auto;
}
.essay-text {
	border-color: grey;
	border-style: dashed;
	border-width: thin;
	margin:5px, 5px;
	padding:5px;
	width: 500px;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 15px;
	text-indent: 10%;
}
.container {
	padding-top: 30px;
	padding-left: 300px;
	display: inline-block;
}
